* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

header h1 {
  font-size: 4rem;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  gap: 3rem;
}

.recent-scores {
  display: flex;
  gap: 1rem;
}

.score-div {
  border: 1px solid black;
}

.scores {
  list-style: none;
  line-height: 1.8rem;
  padding-left: 0.5rem;
}

.button {
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  width: 5rem;
}

.submit {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
}

.vertical-gap {
  margin-top: 1rem;
}
